
@model IEnumerable<WebAlumnos.Models.Curso>

@{
    ViewBag.Title = "Index";
}

<h2>Listado de cursos</h2>

@*Html.ActionLink("Nuevo Curso", "Alta")*@

<a href="#" id="lnkAddCurso">Nuevo curso</a>

<div id="contenido">
    @Html.Partial("Listado_cursos", Model)
</div>

<div class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nuevo curso</h4>
            </div>
            <div class="modal-body">
                <input type="text" id="txtNombre" placeholder="Nombre"/>
                <br/>
                <input type="date" id="txtInicio" placeholder="Inicio"/>
                <br />
                <input type="date" id="txtFin" placeholder="Fin" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" id="btnGuardar" class="btn btn-primary">Guardar curso</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    function alta() {

        var data = {
            nombre: $("#txtNombre").val(),
            inicio: $("#txtInicio").val(),
            fin: $("#txtFin").val()
        };

        $.ajax({

            type: "POST",
            url:"/Cursos/AltaAjax",
            data: JSON.stringify(data),
            dataType: "json",
            contentType: "application/json",
            success: function(res) {

                if (res === "OK") {

                    $("#contenido").load("/Cursos/ListadoAjax");
                    alert("Todo bien!");
                    $(".modal").modal("hide");

                } else {

                    alert("Desastre nuclear !!!");

                }
            }

        });

    };

    $(document).ready(function() {

        $("#lnkAddCurso").click(function() {

            $(".modal").modal();

        });

        $("#btnGuardar").click(alta);

    });

</script>
