@model IEnumerable<WebAlumnos.Models.Alumnos>

@{
    ViewBag.Title = "Buscar";
}

<h2>Buscar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<div id="listado">

    @Html.Partial("_Listado", Model)

</div>
